@charset "utf-8";

body {
	position: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: url(../imgs/login_bgx.gif);
}

.public-horizontally-container {
	position: relative;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.public-vetically-container {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	-ms-transform: translate3d(0, -50%, 0);
	-o-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.public-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.button-pointer {
	cursor: pointer;
}

.public-footer {
	margin-top: 45px;
}

.footer-copyright{
	margin-top: 5px;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -o-center;
	text-align: center;
	color: #58595b;
	font-weight: 400;
	font-size: 9pt;
	font-family: "微软雅黑",SimHei,sans-serif;
}
