<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="https://www.compscosys.cn$S$Q" exactDestination="true" />
        <rewrite>
            <rules>
                <clear />
                <rule name="HTTP_TO_HTTPS_REDIRECT" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
                <rule name="RequestBlockingRule2" stopProcessing="true">
                    <match url="(.*).html$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
                </rule>
                <rule name="RequestBlockingRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)/(.*)(jpg|png|gif|bmp|ico|css|js)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
                </rule>
                <rule name="SCOMNG_REWRITE" enabled="false" stopProcessing="true">
                    <match url="(.*/)?(.*).html(\?)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}{R:2}{R:4}" redirectType="Permanent" />
                </rule>
                <rule name="RESOURCE_REQUEST-CSS" enabled="true" stopProcessing="true">
                    <match url="(.*)/?style/(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}css/{R:2}.css" />
                </rule>
                <rule name="RESOURCE_REQUEST-JS" enabled="true" stopProcessing="true">
                    <match url="(.*)/?javascript/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}js/{R:2}.js" />
                </rule>
                <rule name="RESOURCE_REQUEST-IMG" enabled="true" stopProcessing="true">
                    <match url="(.*)/?(png|jpg|gif|bmp|ico)/(imgs)/(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}{R:3}/{R:4}.{R:2}" />
                </rule>
                <rule name="URL_REWRITE_0x0001" enabled="true" stopProcessing="true">
                    <match url="^(\S+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_URI}" pattern="(.*).php(.*)" negate="true" />
                        <add input="{REQUEST_URI}" pattern="(.*).html(.*)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
