* {
	cursor: default;
}

body {
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	overflow: auto;
}

.container {
	margin: 0.5rem;
	padding: 20px;
	background: #F8F8F8;
	box-shadow:silver 1px 1px 15px 3px;
	position: relative;
}

.function-tip {
	width: 100%;
	height: 2pc;
	font-size: 16px;
	font-weight: 600;
	line-height: 2pc;
	margin-bottom: 20px;
}

.container .message-box {
	width: 100%;
	border: 1px solid #62B2DF;
	background: #CBE8F8;
	padding: 20px;
	font-size: 14px;
	font-family: PingFangSC-Light, "helvetica neue", "hiragino sans gb", tahoma, "microsoft yahei ui", "microsoft yahei", simsun, sans-serif;
	line-height: 20px;
	box-sizing: border-box;
}

#score-container .score-buttons {
	width: 100%;
	position: relative;
	background: #E3E3E3;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
}

#score-container .score-buttons ul {
	width: 100%;
	height: 34px;
	left: 0px;
	padding: 0;
	margin: 0;
}

#score-container .score-buttons ul .groupItem {
	float: left;
	padding: 0 10px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	overflow: hidden;
	font-weight: 600;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	background: #E3E3E3;
	color: #000000;
}

#score-container .score-buttons ul .groupItem-selected {
	float: left;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	overflow: hidden;
	font-weight: 600;
	font-size: 16px;
	font-family: "Microsoft YaHei", "Microsoft YaHei" !important;
	background: #F8F8F8;
	color: #04519C;
	border-top: 4px solid #04519C;
	margin: -1px 0 -1px 0;
	-webkit-transition: color linear .2s;
	-moz-transition: color linear .2s;
	-o-transition: color linear .2s;
	transition: color linear .2s;
	-webkit-transition: border-top linear .2s;
	-moz-transition: border-top linear .2s;
	-o-transition: border-top linear .2s;
	transition: border-top linear .2s;
}

.dynamic-page-score-value {
	width: 100%;
}

.dynamic-page-score-value .single-line {
	background-color: #F8F8F8;
}

.dynamic-page-score-value .double-line {
	background-color: #F0EFED;
}

.dynamic-page-score-value tbody tr:hover {
	background-color: #E4EDF5;
	-webkit-transition: background-color linear .1s;
	-moz-transition: background-color linear .1s;
	-o-transition: background-color linear .1s;
	transition: background-color linear .1s;
}

.dynamic-page-score-value th, .dynamic-page-score-value td {
	border: 1px solid #E3E3E3;
	height: 2em;
	vertical-align: middle;
	text-align: center;
}

.public-footer {
	margin: 15px 0;
}

.footer-copyright{
	margin-top: 5px;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -o-center;
	text-align: center;
	color: #58595b;
	font-weight: 400;
	font-size: 9pt;
	font-family: "微软雅黑",SimHei,sans-serif;
}
